<script>document.addEventListener(
	'DOMContentLoaded',printTheChart('{{this.symbol}}'),
	false
);</script>
<a name="" id="" class="btn btn-primary" href="/" role="button">Return to List</a>
<canvas id="stock-chart"></canvas>
